# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/*
*.py[cod]
*$py.class


# Pycharm
.idea/*
env/*

*.pyc
*.swp
*~
*.py.swo
*.py.swp
*.py.swn
*.py.swm
*.py.bak
local_settings.py
local_test_settings.py
/.idea
/venv
*.sqlite
/*.xls
.DS_Store
.vagrant
temp_file*
/.pytest_cache/
/CACHE
/sitestatic
/staticfiles
/*.sqlite3
*.css
/servedstatic

